@charset "UTF-8"

.box{
  background: black;
}

body{
  background: black;
  color: white;
  position: relative;

  margin-left: 80px;
}

header{
  font-size: 10px;
  margin-top: 30px;

  display: flex;
}

.headArea1{

}

.nav{
  list-style: none;
  display: flex;
  margin: 0 0 0 auto;
}

.nav li{
  margin-right: 40px;
}

.nav li a{
  color: white;
  text-decoration: none;
  font-size: 120%;
}

.nav li a:hover{
  text-decoration: underline;
}

.menuBox{
  display: none;
}

.borderText{
  border: 1px solid white;
  padding: 5px;
}

main{
  display: flex;
  margin-top: 100px;
}

.contentArea1{
  margin-top: 80px;
  width: 35%;
  font-size: 150%;
}
.titleText{
  font-weight: bold;
  font-size: 150%;
}

.contentArea2{
  margin-left: 50px;
  position: relative;
  width: 500px;
}

.contentArea2 img{
  width: 100%;
}

.icon{
  position: absolute;
  top: 300px;
  right: 50px;
  text-align: left;
  background-color: black;
  padding-right: 80px;
}

footer{
  opacity: 0.5;
  text-align: center;
  font-size: 12px;      /*固定長*/
  width: 100%;

  position: absolute;
  bottom: 10px;
}

.thickLine{
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 768px){

  body{
    margin-left: 0px;
    padding: 10px;
  }

  /*header*/
  .nav{
    display: none;
  }

  .menuBox{
    display: block;
  }

  /*Menuのcss*/
  .menu-btn{
      position: fixed;
      top: 10px;
      right: 10px;
      display: flex;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
      z-index: 90;
      background-color: black;
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: white;
      position: absolute;
  }
  .menu-btn span:before {
      bottom: 8px;
  }
  .menu-btn span:after {
      top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }

  #menu-btn-check{
    display: none;
  }

  .menu-content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      z-index: 80;
      background-color: black;
      transition: all 0.5s;

      text-align: center;
  }

  #menu-btn-check:checked ~ .menu-content{
    left: 0;
  }
  .menu-content ul {
      padding: 70px 10px 0;

      margin-top: 100px;
  }
  .menu-content ul li {
      list-style: none;

      margin-bottom: 20px;
  }
  .menu-content ul li a {
      display: block;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      color:#ffffff;
      text-decoration: none;
      padding: 9px 15px 10px 0;
      position: relative;
  }

  .menu-content ul li a:hover{
    text-decoration: underline;
  }
  /******************************/

  /*main*/
  main{
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .contentArea1{
    width: 100%;
    font-size: 100%;
    text-align: left;
  }

  .titleText{
    font-weight: bold;
    font-size: 150%;
  }

  .contentArea2{
    position: relative;
    width: 100%;
  }

  .contentArea2 img{
    margin-top: 50px;
    width: 100%;
    margin-left: 0px;
  }

  .icon{
    position: absolute;
    top: 40%;
    right: 20%;
    text-align: left;
    background-color: black;
    padding-right: 80px;
  }
}
